@font-face {
	font-family: "Lora";
	font-weight: 100 1000;
	font-style: normal;
	src:
		url("../webfonts/Lora-VariableFont_wght.ttf") format("ttf");
}

@font-face {
	font-family: "Lora";
	font-weight: 100 1000;
	font-style: italic;
	src:
		url("../webfonts/Lora-Italic-VariableFont_wght.ttf") format("ttf");
}


@font-face {
	font-family: "Public Sans";
	font-weight: 100 1000;
	font-style: normal;
	src:
		url("../webfonts/PublicSans-VariableFont_wght.ttf") format("ttf");
}

@font-face {
	font-family: "Public Sans";
	font-weight: 100 1000;
	font-style: italic;
	src:
		url("../webfonts/PublicSans-Italic-VariableFont_wght.ttf") format("ttf");
}
