.post-list {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	justify-content: flex-start;

	article {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
	}

	.post-feature,
	.post-info {
		align-content: center;
	}

	.post-feature {
		flex-basis: 400px; 
		flex-grow: 1;
	}

	.post-info {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 50%;
	}

	article:first-of-type {
		display: grid;
		grid-template-areas: 'main';
		
		.post-feature,
		.post-info {
			z-index: 1;
			grid-area: main;
		}
		
		.post-feature {
			picture {
				background-color: var(--color-primary);
			}

			img {
				--image-brightness: 0.5;

				mix-blend-mode: overlay;
			}
		}
		
		.post-info {
			padding-block: 2em;
			padding-inline: 5em;
		}
	}
}
