{%- macro footer() -%}

<p>{{- meta.title -}}<p>
<p>Proin at iaculis turpis. Ut commodo quis metus eget facilisis. Ut non ex felis. Proin laoreet nisl a massa pellentesque condimentum.</p>
<p>© 2025, Reed Piernock</p>

{%- endmacro -%}
