{%- macro footer() -%}

<div class="footer-site-info">
	<p class="footer-title">{{- meta.title -}}<p>
	<p>© 2025, Reed Piernock</p>
</div>

<div class="footer-tech">
	<p>Built with 11ty and Sass.</p>
	<p><a class="button button-accent" href="https://github.com/reedcodes/blog-exercise">View the repo on Github</a></p>
	<p><a href="https://unsplash.com/illustrations/a-laptop-computer-sitting-on-top-of-a-desk-next-to-a-cup-of-coffee-Qqn9VFkdV6E">Home hero illustration by Art Attack</a></p>
</div>

<div class="footer-content">
	<p>Proin at iaculis turpis. Ut commodo quis metus eget facilisis. Ut non ex felis. Proin laoreet nisl a massa pellentesque condimentum.</p>
</div>

{%- endmacro -%}
