{%- from "post-meta.njk" import postMeta with context -%}

{%- macro postList(collection, size) -%}

<div class="post-list">
{%- for post in collection -%}
	{%- set image = post.data.image -%}
	{%- set title = post.data.title -%}
	{%- set date = post.data.date -%}
	{%- set link = post.url -%}
	{%- set category = post.data.category -%}

	{%- if size and loop.index <= size -%}
		<article>{{- postMeta(image, title, date, link, category) -}}</article>
	{%- elseif not size -%}
		<article>{{- postMeta(image, title, date, link, category) -}}</article>
	{%- endif -%}

{%- endfor -%}
</div>

{%- if pagination.href.previous -%}
  {%- set blogUrlPrevious = pagination.href.previous -%}
{%- endif -%}

{%- if pagination.href.next -%}
  {%- set blogUrlNext = pagination.href.next -%}
{%- endif -%}

{%- if blogUrlPrevious or blogUrlNext -%}
  <nav class="post-pagination" aria-label="blog pagination links">
		{%- if blogUrlPrevious -%}
			<a class="pagination-previous button" href="{{- blogUrlPrevious -}}" data-direction="backwards">Previous</a>
		{%- endif -%}
		{%- if blogUrlNext -%}
			<a class="pagination-next button" href="{{- blogUrlNext -}}" data-direction="forwards">Next</a>
		{%- endif -%}
  </nav>
{%- endif -%}

{%- endmacro -%}
