{%- macro postMeta(image, title, date, link, tags) -%}

	<figure>
		<img alt="{{- image.alt -}}" src="{{- image.source -}}">
		{%- if image.credit and layout == 'post' -%}
			<figcaption><a href="{{- image.link -}}">Photo credit {{ image.credit -}}</a></figcaption>
		{%- endif -%}
	</figure>

	{%- if layout == 'post' -%}
		<h1>{{- title -}}</h1>
	{%- else -%}
		<p><a href="{{- link -}}">{{- title -}}</a></p>
	{%- endif -%}

	<datetime>{{- date | date -}}</datetime>

	{%- if tags and layout == 'post' -%}
		<dl>
			<dt>Tags:</dt>
			{%- for tag in tags -%}
				{%- if tag != 'posts' -%}<dd><a href="/blog/tags/{{- tag | slug -}}/">{{- tag -}}</a></dd>{%- endif -%}
			{%- endfor -%}
		</dl>
	{%- endif -%}

{%- endmacro -%}
