{%- macro postMeta(image, title, date, link, tags) -%}

{%- set titleTag -%}
	{{- 'h1' if layout == 'post' else 'p' -}}
{%- endset -%}

<figure class="post-feature">
	<img alt="{{- image.alt -}}" src="{{- image.source -}}">
	{%- if image.credit and layout == 'post' -%}
		<figcaption><a href="{{- image.link -}}">Photo credit {{ image.credit -}}</a></figcaption>
	{%- endif -%}
</figure>

<div class="post-info">
	<{{- titleTag }} class="post-title">
		{{- title -}}
	</{{- titleTag -}}>

	<datetime class="post-date">{{- date | date -}}</datetime>

	{%- if layout != 'post' -%}
		<a class="post-link" href="{{- link -}}">Read more<span>: {{ title }}</a>
	{%- endif -%}

	{%- if tags and layout == 'post' -%}
		<dl class="post-tags">
			<dt>Tags:</dt>
			{%- for tag in tags -%}
				{%- if tag != 'posts' -%}<dd><a href="/blog/tags/{{- tag | slug -}}/">{{- tag -}}</a></dd>{%- endif -%}
			{%- endfor -%}
		</dl>
	{%- endif -%}

</div>
{%- endmacro -%}
