{%- from "post-meta.njk" import postMeta with context -%}

{%- macro postList(collection, size) -%}

<ul>
{%- for post in collection | reverse %}
	{%- set image = post.data.image -%}
	{%- set title = post.data.title -%}
	{%- set date = post.data.date -%}
	{%- set link = post.url -%}

	{%- if size and loop.index <= size -%}
		<li>{{- postMeta(image, title, date, link) -}}</li>
	{%- elseif not size -%}
		<li>{{- postMeta(image, title, date, link) -}}</li>
	{%- endif -%}

{%- endfor -%}
</ul>

{%- endmacro -%}
