{%- macro tagList() -%}

<ul>
{%- for tag in collections.tags %}
	{%- if tag != 'pages' and tag != 'posts' %}
		<li>
			<a href="/blog/tags/{{- tag | slug -}}/">{{- tag -}}</a>
		</li>
	{%- endif -%}
{%- endfor -%}
</ul>

{%- endmacro -%}
