.post-date {
	display: block;
}

.post-link {
	display: inline-block;
	inline-size: fit-content;
}

.post-category,
.post-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;

	dt { font-weight: 600; }
	dd { margin-inline: 0; }
}
