{%- from "head.njk" import head with context -%}
{%- from "header.njk" import header with context -%}
{%- from "nav.njk" import nav with context -%}
{%- from "footer.njk" import footer with context -%}

<!doctype html>
<html>

<section aria-label="Skip links">
	<ul>
		<li><a href="#nav-main">Skip to site navigation</a></li>
		<li><a href="#main">Skip to page content</a></li>
	</ul>
</section>

<head>
	{{- head() -}}
</head>

<body>

	<header id="header">{{- header() -}}</header>
	<nav id="nav-main">{{- nav(items=collections.pages) -}}</nav>

	<main id="main">{{- content | safe -}}</main>

	<footer id="footer">{{- footer() -}}</footer>

</body>

</html>
