---
layout: base
pageClass: page
---

<h1>{{- title -}}</h1>

{{- content | safe -}}

<ul>
{%- for post in collections.posts | reverse %}
	<li>
		{{- post.date | date -}}:
		<a href="{{- post.url | url -}}">{{- post.data.title -}}</a></li>
{%- endfor -%}
</ul>
