---
layout: base
pageClass: post
---

{%- from "post-meta.njk" import postMeta with context -%}

<article>
	<div class="post-header">
		{{- postMeta() -}}
	</div>

	<div class="post-content">
		{{- content | safe -}}
	</div>
</article>
