---
layout: base
pageClass: post
---

{%- from "post-meta.njk" import postMeta with context -%}

<article class="post">
	<div class="post-header">
		{{- postMeta(image, title, date, tags) -}}
	</div>

	<div class="post-content">
		{{- content | safe -}}
	</div>
</article>
